# Node.js
**/node_modules/
**/logs/
**/*.log

# Environment files
**/.env

# OS & Editor Junk
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Build output (in case we use CRA or Vite)
**/dist/
**/build/
